#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  color: black;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  flex-direction: column;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20vw;
  max-width: 400px;
  background-color: lightcyan;
  margin: 2rem;
}

.card-img {
  width: 100%;
  margin-bottom: 4vh;
  height: 200px;
  overflow: hidden;
}

.learn {
  width: 100%;
  height: 100px;
  border-style: none;
  margin-top: 2rem;
  cursor: pointer;
}

.link {
  color: black;
  text-decoration: none;
  font-size: 1rem;
  width: 100%;
  height: 100%;
}

.heading {
  font-family: Georgia, "Times New Roman", Times, serif;
  padding-top: 3vh;
  padding-bottom: 4vh;
  line-height: 2rem;
  font-size: 2rem;
  background-color: aliceblue;
}

.card-holder {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
