body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

th {
  width: 120px;
  padding-top: 25px;
  padding-bottom: 30px;
}

td {
  padding: 5px;
}

.time {
  height: 40px;
}

.Eventgreen {
  background-color: aquamarine;
}

.Eventblue {
  background-color: aqua;
}

.Eventyellow {
  background-color: gold;
}

.Eventpink {
  background-color: coral;
}

.location {
  opacity: 0.5;
}
